<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div id="wrapper">
      <%- include('./partials/nav') %>
      <section class="visual">
        <div class="container">
          <div class="text-block">
            <div class="heading-holder">
              <!-- 코로나 확진자 수 크롤링 -->
              <div class="ht-board">
                <h3>코로나 환자 실시간 현황</h3>
                <table
                  class="healthtopic-table"
                  style="width: 500px; display: contents"
                >
                  <% coronaArr.forEach(function(element) { %>
                  <tr>
                    <td class="healthtopic-gr"><%=element._text %></td>
                    <td
                      colspan="2"
                      style="display: inline; color: #333; font-weight: 900"
                    >
                      <%=element._num %>&nbsp;<span
                        style="
                          color: #fa8231;
                          font-size: 13px;
                          font-weight: 600;
                        "
                        ><%=element._before %></span
                      >
                    </td>
                  </tr>
                  <% }) %>
                </table>
                <p>출처 : 질병관리청</p>
              </div>

              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/0GN8t2u3flc"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>

              <!-- 건강정보 크롤링 -->
              <div>
                <h3>이달의 건강소식</h3>
                <table border="2px solid black" text-align="left">
                  <% infoArr.forEach(function(element, i) { %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td>
                      <a
                        href="http://www.cdc.go.kr/<%=element._addr%>"
                        target="_blank"
                        ><%= element._title %></a
                      >
                    </td>
                  </tr>
                  <% }) %>
                </table>
                <p>출처: 질병관리청</p>
              </div>
              <!--건강 정보 크롤링의 끝-->
            </div>
          </div>
        </div>
      </section>
      <%- include('./partials/footer') %>
    </div>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.main.js"></script>
  </body>
</html>
