<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div id="wrapper">
      <%- include('./partials/nav') %>
      <section class="visual">
        <div class="container">
          <div class="text-block">
            <div class="heading-holder">
              <h2>아무때나 만나는 내 손 안의 닥터</h2>
            </div>
            <p class="tagline">지금 바로 상담 가능한 의사를 만나보세요.</p>
          </div>
        </div>
        <img src="images/main-banner.jpg" alt="" class="bg-stretch" />
        <div class="step-btn">
          <a href="/question/step1" class="btn-a">예진표 작성하기</a>
        </div>
      </section>
      <section class="main">
        <div class="container">
          <div class="row" style="margin-top: 50px">
            <div class="text-box col-md-offset-1 col-md-10">
              <h3>비대면 진료 서비스, 아만닥</h3>
              <p>
                아만닥은 의료진 네트워크를 구성해 지속적인 관리가 필요한
                고객에게 <span id="highlight">원격의료서비스</span>를
                제공합니다. <br />
                일반진료부터 소아, 산부인과 등 다양한 진료 과목을 이용하실 수
                있으며, 웹사이트를 통해 진료를 신청할 수 있습니다. <br /><br />
                이후 보유하고 계신 보험, 성별 등을 고려해 가장 적합한 의료진을
                배정해드립니다.
                <span id="highlight"> 대기시간은 10분 </span> 정도이며, 진료 후
                의료진이 환자의 전자건강기록을 업로드하거나 전문의에게 이관하는
                과정을 거쳐 서비스가 이루어집니다.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="area">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h2 class="visible-xs visible-sm text-primary">
                누구에게 필요한 서비스일까요?
              </h2>
              <ul class="visual-list">
                <li>
                  <div class="img-holder">
                    <img
                      src="images/medical-appointment.svg"
                      width="110"
                      alt=""
                    />
                  </div>
                  <div class="text-holder">
                    <h3>
                      당뇨병과 같은 만성질환에 정기적인 검진이 필요한 경우
                    </h3>
                    <p>
                      Aenean cursus imperdiet nisl id fermentum. Aliquam
                      pharetra dui laoreet vulputate dignissim. Sed id metus id
                      quam auctor molestie eget ut augue.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="img-holder">
                    <img
                      class="pull-left"
                      src="images/doctor.svg"
                      width="110"
                      alt=""
                    />
                  </div>
                  <div class="text-holder">
                    <h3>어떤 전문의를 찾아야 할 지 몰라 자문이 필요한 경우</h3>
                    <p>
                      Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                      felis odio, ut volutpat massa placerat ac. Curabitur
                      dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="img-holder">
                    <img src="images/stethoscope.svg" width="110" alt="" />
                  </div>
                  <div class="text-holder">
                    <h3>감기, 요로 감염 등 비응급 상황</h3>
                    <p>
                      Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                      felis odio, ut volutpat massa placerat ac. Curabitur
                      dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-7">
              <div class="slide-holder">
                <h2 class="hidden-xs hidden-sm text-primary">
                  누구에게 필요한 서비스일까요?
                </h2>
                <div class="img-slide scroll-trigger">
                  <img
                    src="images/about-image-01.png"
                    height="624"
                    width="1184"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="main">
        <div class="container">
          <div class="block-holder">
            <div class="block-frame">
              <div class="cycle-gallery">
                <div class="mask">
                  <div class="slideset">
                    <div class="slide">
                      <div class="img-box">
                        <div class="img-holder">
                          <img
                            src="images/user-01.jpg"
                            height="85"
                            width="85"
                            alt=""
                          />
                        </div>
                        <div class="text-holder">
                          <h3>김신</h3>
                          <a href="#">@DoctorS</a>
                        </div>
                      </div>
                      <p>
                        오래 기다릴 필요없이 믿을만한 의사선생님께 <br />
                        진료를 받을 수 있어서 정말 좋네요. 또 이용할게요!
                      </p>
                      <em class="date">2 hours ago</em>
                    </div>
                    <div class="slide">
                      <div class="img-box">
                        <div class="img-holder">
                          <img
                            src="images/user-02.jpg"
                            height="85"
                            width="85"
                            alt=""
                          />
                        </div>
                        <div class="text-holder">
                          <h3>유나얼</h3>
                          <a href="#">@rrace</a>
                        </div>
                      </div>
                      <p>
                        언택트 시대에 걸맞는 <br />안전하고 확실한 서비스라고
                        생각합니다.
                      </p>
                      <em class="date">5 hours ago</em>
                    </div>
                    <div class="slide">
                      <div class="img-box">
                        <div class="img-holder">
                          <img
                            src="images/user-03.jpg"
                            height="85"
                            width="85"
                            alt=""
                          />
                        </div>
                        <div class="text-holder">
                          <h3>김소미</h3>
                          <a href="#">@somi1290</a>
                        </div>
                      </div>
                      <p>
                        일이 바빠서 병원 갈 시간 조차 없었는데, <br />
                        아만닥덕분에 건강하게 유지할 수 있는 것 같습니다 :)
                      </p>
                      <em class="date">1 day ago</em>
                    </div>
                  </div>
                </div>
                <a class="btn-prev" href="#"
                  ><i class="glyphicon glyphicon-menu-left"></i
                ></a>
                <a class="btn-next" href="#"
                  ><i class="glyphicon glyphicon-menu-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="area">
        <div class="container">
          <div class="subscribe">
            <h3>뉴스레터 구독하기</h3>
            <form class="form-inline">
              <button type="submit" class="btn btn-primary rounded">
                신청
              </button>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control rounded"
                  id="exampleInputEmail2"
                  placeholder="Email..."
                />
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="main">
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-md-4">
                <h3>의학정보</h3>
                <% for ( let i=0; i < 5; i++ ) { %>
                <h4>
                  <a
                    href="http://www.cdc.go.kr/<%=infoArr[i]._addr%>"
                    target="_blank"
                    ><%= infoArr[i]._title %></a
                  >
                </h4>
                <% } %>
                <div class="btn-holder">
                  <a href="/healthtopic" class="btn btn-link"
                    >더 많은 의학정보 보러가기</a
                  >
                </div>
              </div>
              <div class="col-md-4">
                <h3>공지사항</h3>
                <h4><a href="#">Custom Themes 1.1</a></h4>
                <p>
                  Etiam viverra vulputate diam, pulvinar cursus augue egestas
                  ullamcorper.
                </p>
                <h4><a href="#">Filter Forge</a></h4>
                <p>Nulla purus quam, pulvinar sed et, feugiat maximus velit.</p>
                <h4><a href="#">WebZap</a></h4>
                <p>
                  Morbi imperdiet, leo in interdum pretium, elit eros dapibus
                  velit, eu posuere quam diam vitae orci. Suspendisse interdum
                  accumsan magna vitae commodo.
                </p>
                <h4><a href="#">Renamy</a></h4>
                <p>
                  Vivamus consectetur suscipit elit, ut lacinia diam elementum
                  et.
                </p>
                <div class="btn-holder">
                  <a href="#" class="btn btn-link">공지사항</a>
                </div>
              </div>
              <div class="col-md-4">
                <h3>게시판</h3>

                <% if(qna == null || qna.length == 0){ %>
                <tr>
                  <td colspan="5">게시글이 없습니다.</td>
                </tr>
                <% } %> <% qna.forEach(function(qna) { %>
                <tr>
                  <td>
                    <a href="/qna/<%= qna._id %>"
                      ><div><%= qna.title %></div></a
                    >
                    <!-- <div class="ellipsis">작성자 : <%= qna.reg_id ? qna.reg_id.p_id : "" %></div> -->
                  </td>
                  <td class="date">
                    <span data-date="<%= qna.createdAt %>"></span>
                  </td>
                </tr>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('./partials/footer') %>
    </div>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.main.js"></script>
  </body>
</html>
