<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>원격 의료 매칭 서비스, 아만닥</title>
    <meta name="msapplication-TileColor" content="#3867d6" />
    <meta
      name="msapplication-TileImage"
      content="favicons/mstile-144x144.png"
    />
    <meta name="msapplication-config" content="favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="fonts/font-awesome-4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/all.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <style>
    table,
    th,
    td {
      border: solid 1px black;
      border-collapse: collapse;
    }
  </style>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <div class="logo">
            <a href="/"><img src="images/logo.svg" alt="아만닥" /></a>
          </div>
          <nav id="nav">
            <a href="#" class="nav-opener"><span></span></a>
            <div class="opener-holder">
              <% if (user) { %>
              <p>반갑습니다! <%= user.name %> 님</p>
              <a href="/mypage" class="btn btn-primary rounded">마이페이지</a>
              <a href="/auth/logout" class="btn btn-primary rounded"
                >로그아웃</a
              >
              <% }else{ %>
              <a href="/login" class="btn btn-primary rounded">로그인</a>
              <a href="/join" class="btn btn-primary rounded">회원가입</a>
              <% } %>
            </div>
            <div class="nav-drop">
              <ul>
                <li><a href="/aboutus">소개</a></li>
                <li><a href="/healthtopic">의학정보</a></li>
                <li><a href="/qna">게시판</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div>
        <h1>마이페이지</h1>
        <table>
          <tr>
            <th>이름</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>생년월일</th>
            <td><%= user.birth %></td>
          </tr>
          <tr>
            <th>전화번호</th>
            <td><%= user.ph_no %></td>
          </tr>
          <tr>
            <th>주소</th>
            <td><%= user.addr %></td>
          </tr>
          <tr>
            <th>이메일</th>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <th>가입날짜</th>
            <td><span><%= reg_date %></span></td>
          </tr>
        </table>
      </div>
      <div>
        <h1>내 정보 변경하기</h1>
        <table>
          <tr>
            <th>전화번호 변경</th>
          </tr>
          <tr>
            <th>새 전화번호</th>
          </tr>
          <tr>
            <form method="post" action="/mypage/<%=user.p_id%>/phone">
              <td>
                <input
                  type="text"
                  name="ph_no"
                  id="ph_no"
                  class="checkPhone"
                  value="<%= user.ph_no %>"
                /><input type="submit" id="canSubmit" value="변경하기" />
              </td>
              <span style="color: red; font-size: 10px" id="noPhone"></span>
            </form>
          </tr>
          <tr>
            <th>주소 변경</th>
          </tr>
          <tr>
            <th>새 주소</th>
          </tr>
          <tr>
            <form method="post" action="/mypage/<%=user.p_id%>/address">
              <td>
                <input type="text" name="addr" value="<%= user.addr %>" /><input
                  type="submit"
                  value="변경하기"
                />
              </td>
            </form>
          </tr>
          <tr>
            <th>이메일 변경</th>
          </tr>
          <tr>
            <th>새 이메일</th>
          </tr>
          <tr>
            <form method="post" action="/mypage/<%=user.p_id%>/email">
              <td>
                <input
                  type="email"
                  name="email"
                  id="email"
                  value="<%= user.email %>"
                  class="checkEmail"
                /><input type="submit" id="canSubmit" value="변경하기" />
              </td>
              <span style="color: red; font-size: 10px" id="noEmail"></span>
            </form>
          </tr>
        </table>
      </div>
      <div>
        <h1>탈퇴하기</h1>
        <form method="post" action="/mypage/<%=user.p_id%>">
          <h4>비밀번호 입력</h4>
          <input type="hidden" name="p_id" value="<%= user.p_id %>" />
          <div>
            <input
              type="password"
              name="password"
              placeholder="비밀번호가 일치하면 탈퇴됩니다."
            />
          </div>
          <input type="submit" value="탈퇴하기" />
        </form>
      </div>
      <a href="/mypage">개인 정보</a>
      <a href="/mypage">진료 기록</a>
      <a href="/">메인으로</a>
      <script src="js/jquery-1.11.2.min.js"></script>
      <script src="js/jquery.main.js"></script>
      <script src="js/validate.js"></script>
      <footer id="footer">
        <div class="container">
          <div class="footer-holder">
            <div class="row">
              <div class="col-md-4">
                <div class="logo">
                  <a href="#"><img src="images/logo.svg" alt="amandoc" /></a>
                </div>
                <p>아무때나 만나는 내 손 안의 닥터</p>
              </div>
              <div class="col-md-2">
                <h4>Navigation</h4>
                <ul>
                  <li><a href="/">메인페이지</a></li>
                  <li><a href="/aboutus">소개</a></li>
                  <li><a href="/healthtopic">의학정보</a></li>
                  <li><a href="/qna">게시판</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="text-holder">
                  <strong class="phone"
                    ><a href="tel:0282821111">02 8282 1111</a></strong
                  >
                  <span class="available">고객상담시간 : 12PM - 18PM</span>
                  <h4>아만닥</h4>
                  <address>
                    아만빌딩 10F, <br />
                    서울특별시 종로구 종로 55 종로 55
                  </address>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-frame">
                  <h4>Info</h4>
                  <p>
                    Wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex commodo
                    consequat. Autem vel hendrerit iriure dolor in hendrerit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.main.js"></script>
  </body>
</html>
