<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원격 의료 매칭 서비스, 아만닥</title>
</head>
<style>
    table,th,td{
        border: solid 1px black; 
        border-collapse: collapse;
    }
</style>
<body>
    <div>
        <h1>내 정보</h1>
        <table>
            <tr>
                <th>이름</th>
                <td><%= user.name %></td>
                <th>신장</th>
                <% if (step1) {%>
                <td><%= step1.height %></td>
                <%}else{%>
                <td>        </td>
                <%}%>
            </tr>
            <tr>
                <th>생년월일</th>
                <td><%= user.birth %></td>
                <th>몸무게</th>
                <% if (step1) {%>
                    <td><%= step1.weight %></td>
                <%}else{%>
                    <td>        </td>
                    <%}%>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><%= user.ph_no %></td>
                <th>과거 병력</th>
                <% if (step1) {%>
                    <td><%= step1.history %></td>
                <%}else{%>
                    <td></td>
                    <%}%>
            </tr>
            <tr>
                <th>주소</th>
                <td><%= user.addr %></td>
                <th>가족력</th>
                <% if (step1) {%>
                    <td>관계 : <%= step1.family_member %> 병명 : <%= step1.family_disease%></td>
                <%}else{%>
                    <td>        </td>
                    <%}%>
            </tr>
            <tr>
                <th>이메일</th>
                <td><%= user.email %></td>
                <th>복용중인 약물</th>
                <% if (step1) {%>
                    <td><%= step1.drug %></td>
                <%}else{%>
                    <td></td>
                    <%}%>
            </tr>
            <tr>
                <th>가입날짜</th>
                <td><span><%= moment(user.reg_date).format('YYYY년 MM월 DD일') %></span></td>
                <th>음주</th>
                <% if (step1) {%>
                    <td><%= step1.drink_week%> <%= step1.drink_cnt %></td>
                <%}else{%>
                    <td></td>
                    <%}%>
            </tr>
            <tr>
                <th>MY 약국</th>
                <% if (user.myPharmacy) {%>
                    <td><span><%= user.myPharmacy %><button class="myPharmacy">MY약국 변경하기</button></span></td>
                <%}else{%>
                    <td><button class="myPharmacy">MY약국 등록하기</button></td>
                <%}%>
                <th>흡연</th>
                <% if (step1) {%>
                    <td><%= step1.smoke_cnt %></td>
                <%}else{%>
                    <td></td>
                    <%}%>
            </tr>
        </table>
    </div>
    <div>
        <h1>내 정보 변경하기</h1>
        <table>
            <tr>
                <th>전화번호 변경</th>
            </tr>
            <tr>
                <th>새 전화번호</th>
            </tr>
            <tr>
                <form method="post" action="/mypage/<%=user.p_id%>/phone">
                    <td><input type="text" name="ph_no" id="ph_no" class="checkPhone" value="<%= user.ph_no %>"><input type="submit" id="canSubmit" value="변경하기"></td>
                    <span style="color:red; font-size:10px" id="noPhone"></span>
                </form>
            </tr>
             <tr>
                <th>주소 변경</th>
            </tr>
            <tr>
                <th>새 주소</th>
            </tr>
            <tr>
                <form method="post" action="/mypage/<%=user.p_id%>/address">
                    <td><input type="text" name="addr" value="<%= user.addr %>"><input type="submit" value="변경하기"></td>
                </form>
            </tr>
            <tr>
                <th>이메일 변경</th>
            </tr>
            <tr>
                <th>새 이메일</th>
            </tr>
            <tr>
                <form method="post" action="/mypage/<%=user.p_id%>/email">
                    <td><input type="email" name="email" id="email" value="<%= user.email %>" class="checkEmail"><input type="submit" id="canSubmit" value="변경하기"></td>
                    <span style="color:red; font-size:10px" id="noEmail"></span>
                </form>
            </tr>
        </table>
    </div>
    <div>
        <h1>탈퇴하기</h1>
        <form method="post" action="/mypage/<%=user.p_id%>">
            <h4>비밀번호 입력</h4>
            <input type="hidden" name="p_id" value="<%= user.p_id %>">
            <div><input type="password" name="password" placeholder="비밀번호가 일치하면 탈퇴됩니다."></div>
            <input type="submit" value="탈퇴하기">
        </form>
    </div>
    <a href="/mypage">개인 정보</a>
    <a href="/mypage/mytreat">진료 기록</a>
    <a href="/">메인으로</a>
    <script src="js/jquery-1.11.2.min.js"></script>
      <script src="js/jquery.main.js"></script>
      <script src="js/validate.js"></script>
<script>
$(function(){
    $(".myPharmacy").click(e=>{
        window.open("mypage/myPharmacy","myPharmacy","width=900,height=510,left=300,top=50");
    })
})
</script>
</body>
</html>