<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/nav') %>
      <section class="visual">
        <div class="container">
          <div class="text-block">
            <div class="heading-holder">
              <ul class="tab_comm seven clfix">
                <li class="on">
                  <a href="#myInfo"
                    >내 정보
                    <span class="hide_txt">선택됨</span>
                  </a>
                </li>
                <li class="on">
                  <a href="#changeMyInfo"
                    >내 정보 변경하기
                    <span class="hide_txt">선택됨</span>
                  </a>
                </li>
                <li class="on">
                  <a href="#deleteMyId"
                    >탈퇴하기
                    <span class="hide_txt">선택됨</span>
                  </a>
                </li>
              </ul>
              <div class="mypage-table" id="myInfo">
                <h3>내 정보</h3>
                <table>
                  <tr>
                    <th>이름</th>
                    <td><%= user.name %></td>
                    <th>신장</th>
                    <% if (step1) {%>
                    <td><%= step1.height %> cm</td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>생년월일</th>
                    <td><%= user.birth %></td>
                    <th>몸무게</th>
                    <% if (step1) {%>
                    <td><%= step1.weight %> kg</td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>전화번호</th>
                    <td><%= user.ph_no %></td>
                    <th>과거 병력</th>
                    <% if (step1) {%>
                      <% if (step1.history == '' || step1.history == '') { %> <td>해당없음</td>
                        <% } else { %> <td><%= step1.history %> </td><% } %> 
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>주소</th>
                    <td><%= user.addr %></td>
                    <th>가족력</th>
                    <% if (step1) {%>
                      <% if (step1.family_member == '' || step1.family_member == ' ' ) { %> <td>해당없음</td>
                        <% } else { %> <td><%= step1.family_member %> <%= step1.family_disease %> </td><% } %> 
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>이메일</th>
                    <td><%= user.email %></td>
                    <th>복용중인 약물</th>
                    <% if (step1) {%>
                      <% if (step1.drug == '' || step1.drug == ' ') { %> <td> 해당없음 </td>
                        <% } else { %> <td> <%= step1.drug %> <% } %> </td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>가입날짜</th>
                    <td>
                      <span
                        ><%= moment(user.reg_date).format('YYYY년 MM월 DD일')
                        %></span
                      >
                    </td>
                    <th>음주</th>
                    <% if (step1) {%>
                      <% if (step1.drink_week == '해당없음') { %> <td><%= step1.drink_week %> </td>
                      <% } else {%>  <td> <%= step1.drink_week %> <%= step1.drink_cnt %> </td> <% } %>
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                  <tr>
                    <th>MY 약국</th>
                    <% if (user.myPharmacy) {%>
                    <td>
                      <span style="line-height: 35px;"
                        ><%= user.myPharmacy %><button
                          id="btn btn-primary-1"
                          class="btn btn-primary-1 myPharmacy"
                        >
                          MY약국 변경
                        </button></span style="line-height: 35px;"
                      >
                    </td>
                    <%}else{%>
                    <td>
                      <button class="btn btn-primary-1 myPharmacy">
                        MY약국 등록
                      </button>
                    </td>
                    <%}%>
                    <th>흡연</th>
                    <% if (step1) {%>
                    <td><%= step1.smoke_cnt %></td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                  </tr>
                </table>
                <p> * 신체정보 및 기타정보는 다음 예진표 작성시 변경됩니다. </p>
              </div>
              <!-- 내 정보 div 끝 -->

              <!-- 내 정보 변경하기 div -->
              <div class="changeInfo-table" id="changeMyInfo">
                <h3>내 정보 변경하기</h3>
                <table>
                  <tr>
                    <th>전화번호 변경</th>
                  </tr>
                  <tr>
                    <td>새 전화번호</td>
                  </tr>
                  <tr colspan="2">
                    <form method="post" action="/mypage/<%=user.p_id%>/phone">
                      <td>
                        <input
                          type="text"
                          name="ph_no"
                          id="ph_no"
                          class="checkPhone"
                          value="<%= user.ph_no %>"
                        /><input class="btn btn-primary-1"
                          type="submit"
                          id="canSubmit"
                          value="변경하기"
                        /><br>
                        <span
                        style="color: red; font-size: 10px"
                        id="noPhone"
                      ></span>
                      </td>
                    </form>
                  </tr>

                  <tr>
                    <th>주소 변경</th>
                  </tr>
                  <tr>
                    <td>새 주소</td>
                  </tr>
                  <tr colspan="2">
                    <form method="post" action="/mypage/<%=user.p_id%>/address">
                      <td>
                        <input
                          type="text"
                          name="addr"
                          value="<%= user.addr %>"
                        /><input type="submit" class="btn btn-primary-1" value="변경하기" />
                      </td>
                    </form>
                  </tr>
                  <br>
                  <tr>
                    <th>이메일 변경</th>
                  </tr>
                  <tr>
                    <td>새 이메일</td>
                  </tr>
                  <tr>
                    <form method="post" action="/mypage/<%=user.p_id%>/email">
                      <td>
                        <input
                          type="email"
                          name="email"
                          id="email"
                          value="<%= user.email %>"
                          class="checkEmail"
                        /><input
                        class="btn btn-primary-1"
                          type="submit"
                          id="canSubmit"
                          value="변경하기"
                        /><br>
                        <span
                        style="color: red; font-size: 10px"
                        id="noEmail"
                      ></span>
                      </td>
                    </form>
                  </tr>
                </table>
              </div>
              <!--내 정보 변경 div의 끝-->

              <div class="deleteId" id="deleteMyId">
                <h3>탈퇴하기</h3>
                <form method="post" action="/mypage/<%=user.p_id%>">
                  <h4>현재 비밀번호를 입력하시면 탈퇴됩니다.</h4>
                  <input type="hidden" name="p_id" value="<%= user.p_id %>" />
                  <div style="display: inline-flex;"
                >
                    <input
                      type="password"
                      name="password"
                      placeholder="비밀번호 입력"
                    />
                    <input type="submit" class="btn btn-primary-1" value="탈퇴하기" />
                  </div>
                </form>
              </div>
              <!--회원 탈퇴하기 div의 끝 -->
              <a href="/mypage/mytreat">진료 기록</a>
            </div>
          </div>
        </div>
      </section>
      <%- include('../partials/footer') %>
    </div>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.main.js"></script>
    <script>
      $(function () {
        $(".myPharmacy").click((e) => {
          window.open(
            "mypage/myPharmacy",
            "myPharmacy",
            "width=900,height=510,left=300,top=50"
          );
        });
      });
    </script>
    <script>
      $("a").click(function () {
        $("html, body").animate(
          {
            scrollTop: $($.attr(this, "href")).offset().top,
          },
          500
        );
        return false;
      });
    </script>
  </body>
</html>
